Attendance System.json
{
  "name": "Attendance System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        272
      ],
      "id": "d4ec630f-0976-4b02-81f3-19c92df29113",
      "name": "Webhook",
      "webhookId": "2e798797-d357-4048-a786-96e2b02bfe93"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        272
      ],
      "id": "7d7a2009-2a3a-4ae6-b02d-e43946a50cf8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nlet currentEmployee = null;\n\nfunction excelDateToString(serial) {\n  if (!serial || isNaN(serial)) return String(serial);\n  const date = new Date((serial - 25569) * 86400 * 1000);\n  return date.toISOString().split('T')[0];\n}\n\nfunction extractTime(str) {\n  if (!str || str.trim() === '') return 'MISSING';\n  const s = String(str).trim();\n  const match = s.match(/(\\d{1,2})\\s*:\\s*(\\d{2})\\s*$/);\n  if (match) {\n    return `${match[1].padStart(2,'0')}:${match[2]}`;\n  }\n  return 'MISSING';\n}\n\nfor (const item of items) {\n  const row = item.json;\n  const firstCol = row['Growify Digital LLP'];\n  const firstStr = String(firstCol || '').trim();\n\n  if (firstStr.match(/^GD\\d+/)) {\n    currentEmployee = {\n      employeeId: firstStr,\n      name: String(row['__EMPTY'] || '').trim()\n    };\n    continue;\n  }\n\n  if (!currentEmployee) continue;\n\n  if (!firstCol || isNaN(Number(firstCol))) continue;\n\n  const dateRaw = row['__EMPTY'];\n  const session1 = String(row['__EMPTY_1'] || '').trim();\n  const inTime = String(row['__EMPTY_3'] || '').trim();\n  const outTime = String(row['__EMPTY_4'] || '').trim();\n\n  if (['OFF', 'LC'].includes(session1)) continue;\n\n  if (!inTime || inTime === '') continue;\n\n  const checkInTime = extractTime(inTime);\n  if (checkInTime === 'MISSING') continue;\n\n  const checkOutTime = extractTime(outTime);\n\n  const dateStr = excelDateToString(dateRaw);\n\n  let lateFlag = 'NO';\n  const [hour, minute] = checkInTime.split(':').map(Number);\n  if (!isNaN(hour) && (hour > 11 || (hour === 11 && minute > 0))) {\n    lateFlag = 'YES';\n  }\n\n  results.push({\n    json: {\n      employeeId: currentEmployee.employeeId,\n      name: currentEmployee.name,\n      date: dateStr,\n      checkIn: checkInTime,\n      checkOut: checkOutTime,\n      lateFlag: lateFlag\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        272
      ],
      "id": "f927e13f-82fe-4bf4-ad25-bd9ac553427d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        272
      ],
      "id": "add5a502-799d-406d-8c3d-f5cd9d92e273",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VEnzg2jU0WlgmrNR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst lateItems = items.filter(item => item.json['Late Flag'] === 'YES');\n\nconst results = [];\n\nfor (const item of lateItems) {\n  results.push({\n    json: {\n      employeeId: item.json['Employee ID'],\n      name: item.json['Name'],\n      date: item.json['Date'],\n      checkIn: item.json['Check-In'],\n      checkOut: item.json['Check-Out'],\n      lateFlag: item.json['Late Flag'],\n      month: item.json['Date'].substring(0, 7)\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        272
      ],
      "id": "90b981a9-9699-4840-8aa8-2382850514d6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst counter = {};\n\nfor (const item of items) {\n  const { employeeId, name, month } = item.json;\n  const key = `${employeeId}_${month}`;\n\n  if (!counter[key]) {\n    counter[key] = {\n      employeeId,\n      name,\n      monthYear: month,\n      monthlyLateCount: 0,\n      lastWarningDate: ''\n    };\n  }\n  counter[key].monthlyLateCount += 1;\n  counter[key].lastWarningDate = item.json.date;\n}\n\nconst results = Object.values(counter).map(emp => ({\n  json: {\n    employeeId: emp.employeeId,\n    name: emp.name,\n    monthlyLateCount: emp.monthlyLateCount,\n    lastWarningDate: emp.lastWarningDate,\n    monthYear: emp.monthYear,\n    strikeLevel: emp.monthlyLateCount >= 3 ? 3 : emp.monthlyLateCount\n  }\n}));\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        272
      ],
      "id": "747a74a3-107d-4adc-ad5d-88f8f08f77fb",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        272
      ],
      "id": "90b4c7fc-2788-4cc3-9b71-228a89103c38",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VEnzg2jU0WlgmrNR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb495ea6-72d2-468b-b002-957cac461d88",
              "leftValue": "={{ $json['Monthly Late Count'] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        272
      ],
      "id": "0e1b3e78-ab04-411c-b23b-7d6ab57e6d58",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{ $json['Last Warning Date'] }}T17:00:00",
        "end": "={{ $json['Last Warning Date'] }}T17:30:00",
        "additionalFields": {
          "description": "=3rd strike warning meeting for {{ $json['Name'] }} ({{ $json['Employee ID'] }}). Total late days this month: {{ $json['Monthly Late Count'] }}",
          "summary": "=Attendance Warning Meeting - {{ $json['Name'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        832,
        176
      ],
      "id": "223f297c-9ce8-440d-8901-81acc1a48902",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2hFHRqPgYByaSu5w",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an HR assistant at Growify Digital LLP. Write a professional warning email for the following employee who has received their 3rd strike for late arrivals this month.\n\nEmployee Details:\n- Name: {{ $('Code in JavaScript2').item.json.name }}\n- Employee ID: {{ $('Code in JavaScript2').item.json.employeeId }}\n- Total late days this month: {{ $('Code in JavaScript2').item.json.monthlyLateCount }}\n- Last late date: {{ $('Code in JavaScript2').item.json.lastWarningDate }}\n- Calendar meeting link: {{ $json.htmlLink }}\n\nWrite a formal but empathetic 3rd and final warning email. The tone should be serious and firm. Include:\n1. That this is their 3rd and final warning\n2. Their total late count this month\n3. That a mandatory meeting has been scheduled at 5:00 PM - include the calendar link\n4. That further action may be taken if punctuality does not improve\n5. Sign off from \"HR Department, Growify Digital LLP\"\n\nReturn ONLY the email body, no subject line."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        176
      ],
      "id": "6919fae5-b332-4b02-b722-6f99b564abf1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "5Kr74qAvCkT7pEiM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an HR assistant at Growify Digital LLP. Write a professional warning email for the following employee regarding late arrivals this month.\n\nEmployee Details:\n- Name: {{ $('Code in JavaScript2').item.json.name }}\n- Employee ID: {{ $('Code in JavaScript2').item.json.employeeId }}\n- Total late days this month: {{ $('Code in JavaScript2').item.json.monthlyLateCount }}\n- Last late date: {{ $('Code in JavaScript2').item.json.lastWarningDate }}\n- Strike number: {{ $json['Monthly Late Count'] }}\n\nWrite a formal but empathetic warning email. The tone should be:\n- Friendly but firm for 1 late day (1st warning)\n- More serious for 2 late days (2nd warning)\n\nInclude:\n1. How many times they have been late this month\n2. A reminder of the company punctuality policy\n3. That continued tardiness will result in escalating consequences\n4. An offer to discuss any issues they may be facing\n5. Sign off from \"HR Department, Growify Digital LLP\"\n\nReturn ONLY the email body, no subject line."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        368
      ],
      "id": "7867629b-5b5b-4dda-9cf4-ac8a11655707",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "5Kr74qAvCkT7pEiM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        272
      ],
      "id": "88a5903a-3521-4446-a391-4f0fd3c2f2ff",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Attendance processed successfully\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        272
      ],
      "id": "e7142e5e-e568-4199-873e-0f59fb28d7b9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "hr@company.com",
        "subject": "=Attendance Warning - {{ $('Code in JavaScript2').item.json.name }}",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        272
      ],
      "id": "cc874342-6e3f-4796-94d8-49a692535c11",
      "name": "Send a message",
      "webhookId": "ccc1e0de-0c1b-4318-ad7c-22d4676fb771",
      "credentials": {
        "gmailOAuth2": {
          "id": "uCM1TV6Z55K5plFX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8d2383df-478e-4843-ae5f-01bb0c30ba7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4acd8bf51771f6f4fa0ffda7ef1f0835417d4e00e0e146418b542b6b81dbbc05"
  },
  "id": "zHJanHC7KIkBqwvi",
  "tags": []
}